.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.app-bar h1 {
  font-size: 30px !important;
}

#input-field {
  background-color: rgba(255,255,255,0.1);
  border-radius: 5px;
  width: 150px;
  height: 40px;
  padding: 5px;
}